.beginnersguidesection{
    padding: 2% 7%;
    background: #261E35;
    color: #fff;

}

.beginnersGuideHeading{
    font-size: 2.375rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5rem;
    text-align: center ;
}

.beginnersGuideSupportHeading{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center ;
}

.beginnersGuideContent{
    margin-top: 9rem;
}

.beginnersGuideContentOne{
    width: 60%;
}

@media screen and (max-width: 600px) {
    .beginnersguidesection{
        padding: 5% 4$;
    }

    .beginnersGuideContentOne{
        width: 100%;
    }

    .beginnersGuideContent{
        margin-top: 5rem;
    }
}
