.downloadCard{
    background: linear-gradient(180deg, #CE4DA4 0%, #9075F7 100%);
    border-radius: 20px;
}

.downloadCard .card-body img{
    width: 80%;
}

@media screen and (max-width: 600px) {
    .downloadCard .card-body img{
        width: 100%;
    }

    .downloadCard{
        margin-top: 2rem;
    }
}