.roadmap-card{
    width: 21.454rem;
    height: 20.791rem;
    background: #1D1A27;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.roadmap-card .card-text{
    font-size: .75rem;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.roadmap-card .number{
    background: #5E5B71;
    border-radius: 17.1429px;
    width: 4.125rem;
    height: 4.411rem;
    color: #fff;
    font-size: 2.143rem;
    font-weight: 700;
    font-family: "Poppins", serif;
    text-align: center;
    margin: 0 auto 2rem;
    padding-top: 0.5rem;
}

.roadmap-card .card-title{
    font-size: 1.75rem;
    font-weight: 500;
    font-family: Helvetica;
    margin: 15px 0;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .roadmap-card{
        width: 100%;
    }

    .roadmap-card .number{
        width: 4rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    .roadmap-card .card-title{
        font-size: 1.3rem;
        margin: 15px 0;
    }
}