.tokeninformation{
    width: 18rem; 
    margin: 0 auto 2rem;
}

.tokeninformationheading{
    text-align: left;
    margin-bottom: 0.1rem;
    font-size: 1rem;
    font-family: Poppins, serif;
    opacity: 50%;
}

.tokeninformationcontent{
    font-size: 1rem;
    font-family: "Poppins", serif;
    font-weight: 400;
    opacity: 50%;
    text-align: left;
}

@media screen and (max-width: 600px) {
    .tokeninformation{
        width: 100%;
    }

    .tokeninformationheading{
        font-size: .9rem;
    }

    .tokeninformation .card-body p{
        font-size: 0.8rem;
    }
}